body {
    padding-top: 54px;
  }
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }

.navbar .container .homelogo {
    border-right: 6px solid #99cc00;
    height: 50px;
}
.homelogo
{
    margin-left: -1em;
}
.frontpage-header
{
    margin: 8px -15px 0px 0px;
    font-family: 'Roboto', sans-serif;
}


#custom-search-form {
    margin:0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width  0.2s ease-in-out;
-moz-transition:width  0.2s ease-in-out;
-o-transition: width  0.2s ease-in-out;
transition: width  0.2s ease-in-out;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;   
}   
.search-query:focus{
    width: 240px;
}

/*right side bar of widgets*/
#social-media-panel{
    float:right;
    margin-top: -5em;
    margin-right: 8em;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.panel-heading{
    background-color: black;
    color: white;
    font-size:20px;
    border-bottom: 10px solid lightblue;
}
/*social media icons*/

#social-media-panel ul{
    list-style-type:none;
}
#social-media-panel li{
    display: inline;
    margin: 5px;
    text-align: center;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

/* Twitter */
.fa-twitter {
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-linkedin{
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-envelope{
    background: #3B5998;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}
