.jumbotron {
    margin-top: -2em;
    background: url('natural-default-pattern.png');
    background-repeat: repeat;
}

body {
    font-family: 'Roboto';
}

.jumbotron div {
    background-color: rgba(255, 255, 255, 0.67);
}

@media screen and (max-device-width: 414px) {
    .album>.container {
        display: flexbox;
        flex: auto;
    }
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}