body {
    background-color: yellowgreen;
    font-family: "SF Display";
}

@font-face {
    font-family: "SF Display";
    src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

svg {
    height: 10%;
    width: 10%;
}

h3 {
    text-align: center;
}

#checkout_form {
    margin-top: 5px;
}

.card {
    margin-bottom: 35px;
    margin-top: 35px;
    padding-left: 15px;
}