body {
    font-family: 'Poppins';
}

h1,
h2,
h3 {
    font-family: 'Poppins';
}

.userLoginContainer {
    margin: 0;
    /*add this*/
}

.jumbotron {
    background-image: url(header-5.jpg);
    background-size: cover;
    background-position-y: bottom;
}

#navbarBrand {
    font-family: 'Krona One';
    font-weight: bolder;
    border: 3px solid white;
    padding: 10px;
    color: white;
    width: min-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    /**/
    /* 50% of your logo width */
}

.navbar {
    margin-top: 2%;
    position: relative;
    border-radius: 20px;
}

.navbar-toggler {
    background-color: teal;
    color: white;
}

#navbarSupportedContent {
    background-color: rgba(15, 33, 46, 0.8);
    z-index: 9999;
}

#navbarSupportedContent>ul,
form {
    margin-left: 5px;
    margin-right: 5px;
}

img {
    width: 90%;
    height: auto;
}

.mySlides {
    display: none;
}

footer {
    background: url('footer_sunshine.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-color: rgb(32, 52, 78);
}

footer p {
    font-weight: bold;
}

.card {
    border-radius: 10px;
}

#addToCartBtn {
    margin-bottom: 5%;
}


/*breadcrumb stuff*/


/* Style the list */

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}


/* Display list items side by side */

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    color: black;
}


/* Add a slash symbol (/) before/behind each list item */

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media screen and (max-device-width:800px) {}

@media screen and (max-device-width:768px) {
    .row {
        margin-top: 25%;
    }
    .fas {
        margin-top: 5%;
    }
    #detailsCard {
        margin-top: -20%;
    }
    #imgCard {
        height: 100%;
        width: 100%;
    }
    .userLoginContainer {
        margin: 0;
        /*add this*/
    }
}

@media screen and (max-device-width: 414px) {
    .row {
        margin-top: 25%;
    }
    .fas {
        margin-top: 5%;
    }
    #imgCard {
        height: 100%;
        width: 100%;
    }
    #detailsCard {
        margin-top: 5%;
    }
    .userLoginContainer {
        margin: 0;
        /*add this*/
    }
}