.view,
body,
html {
    height: 100%;
    font-family: 'Fira Sans', 'Helvetica', sans-serif;
}


/** Regular */

.navbar {
    /*background-color: rgba(255, 255, 255, .3);
    border-bottom: 2px solid white;*/
    font-size: 350% !important;
    width: min-content;
}

.navbar ul {
    margin: auto;
}

.navbar li {
    margin-right: 5px;
    margin-left: 5px;
    border-left: 1px solid rgba(47, 79, 79, .5);
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331;
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331;
    }
}

.jumbotron {
    background-image: url(headerv2.jpg);
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    padding-bottom: 100px;
}

.container h1 {
    font-size: 700%;
    color: white;
    margin: auto;
    border-bottom: solid 2px rgba(211, 211, 211, 1);
    font-family: Pacifico;
}

.section {
    padding-bottom: 200px;
}

.about {
    background-image: url('about_sectionv2.jpg');
    background-size: cover;
}

.gallery {
    background-image: url('gallery_section.jpg');
    background-size: cover;
    padding-bottom: 500px;
}

.services {
    background-image: url('services_section.jpg');
    background-size: cover;
}

.contact {
    background-image: url('contact_section.jpg');
    background-size: cover;
    padding-bottom: 50px;
}

.equipment {
    background-image: url('equipment_section.jpg');
    background-size: cover;
    padding-bottom: 100px;
}

.card {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .7);
}

.card h3 {
    font-size: 300%;
    LINE-HEIGHT: 70px;
}

.card li {
    font-size: 200%;
}


/* Style all font awesome icons */

.social_media {
    font-size: 700%;
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    padding: 30px;
    margin-top: 50px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 80px;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #ea4c89;
    color: white;
}

.fa-envelope {
    background: #1f664e;
    color: white;
}