.view,
body,
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Poppins';
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.mdl-layout-title {
    font-family: 'Expletus Sans';
    font-style: italic;
}

.user-prof-card.mdl-card {
    margin: auto;
    width: 50%;
    margin-top: 20px;
    border-radius: 10px;
}

.user-prof-card>.mdl-card__title {
    color: white;
    background-color: rgb(54, 152, 212);
    background-image: url("header_backv2.jpg");
    background-size: initial;
    background-blend-mode: soft-light;
}

.mdl-card__title>img {
    margin: auto;
    margin-top: 10px;
    border-radius: 20%;
    width: 20%;
    height: 20%;
}

#profileName {
    font-weight: bolder;
    font-family: 'Poppins';
}

.user-prof-card>.mdl-card__menu {
    color: #fff;
}

.fa-star {
    font-size: large;
}

.checked {
    color: orange;
}

#sendMsgBtn {
    background-color: limegreen;
}

.fas {
    background: #ffc0c0;
    padding: 20px;
    border-radius: 50%;
}

.fa-li {
    display: inline-table;
    margin-right: 10px;
}

.custReview {
    border-radius: 5px;
}

h4 {
    border-bottom: 1px solid lightskyblue;
}

@media screen and (max-device-width:800px) {
    .user-prof-card.mdl-card {
        width: 90%;
    }
}

@media screen and (max-device-width:768px) {
    .user-prof-card.mdl-card {
        width: 90%;
    }
}

@media screen and (max-device-width: 414px) {
    .user-prof-card.mdl-card {
        width: 105%;
    }
    .mdl-card__title img {
        margin-right: 10%;
        margin-top: 7%;
        transform: scale(1.5, 1.5);
    }
    .mdl-layout-title {
        font-size: small;
    }
    .mdl-textfield__input[name="searchbar"] {
        width: 50%;
    }
}