/*Add styles for mobile displays, font face, card component, and body*/

body {
    font-family: 'Playfair Display', cursive;
}

.active {
    border-bottom: solid 2px gold;
}

#jumbotron,
#jumboDescription {
    background-color: rgba(255, 255, 255, 0.6);
}

.navbar-brand {
    font-size: x-large;
}

.navbar-nav {
    font-size: x-large;
}

a {
    color: navy;
}

h3,
h4,
h5 {
    font-family: 'Playfair Display', cursive;
}

p {
    font-family: 'Manrope';
}

.card {
    margin-bottom: 2px;
    max-width: 100%;
    border-style: groove;
    overflow: hidden;
}

.cardTitle {
    max-width: 95%;
}

.cardDesc {
    max-width: 80%;
}

img {
    width: 100%;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
    color: white;
}

footer a {
    color: paleturquoise;
}


/*Mobile layout styles here*/

@media screen and (max-device-width: 375px) {
    .card {
        max-width: 100%;
    }
    .cardTitle {
        max-width: 90%;
    }
    .cardDesc {
        max-width: 80%;
    }
    img {
        width: 100%;
    }
}