body {
    background: rgb(9, 9, 121);
    background: radial-gradient(circle, rgba(9, 9, 121, 0.8) 0%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Varela Round';
}

#loginForm {
    margin: auto;
    margin-top: 15px;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Varela Round';
}

#signupForm {
    margin: auto;
}

#newAccountBtn {
    background-color: yellowgreen;
}

#successForm {
    margin: auto;
}

@media screen and (max-device-width:800px) {
    form {
        width: 90%;
    }
    #signupForm {
        margin: auto;
    }
}

@media screen and (max-device-width:768px) {
    form {
        width: 90%;
    }
    #signupForm {
        margin: auto;
    }
}

@media screen and (max-device-width: 414px) {
    form {
        width: 90%;
    }
    #signupForm {
        margin: auto;
    }
}