body {
    padding-top: 54px;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
    background-blend-mode: screen;
  }
  a{
    color: #1d6cc0;
}
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
    
  }
.jumbotron{
    margin-top: -2em; 
    background: url('media/scales-min.jpg');
    background-repeat: no-repeat;
}
.collapse .navbar-collapse{
    background: black;
}
.navbar .container .homelogo {
    border-right: 6px solid #17a2b8;
    height: 50px;
}
.navbar-toggler{
    background: #17a2b8;
}
/* **************custom navbar************* */
.navbar {
    background-color: #13243c;
  }
  .navbar .navbar-brand {
    color: #ffffff;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #17a2b8;
  }
  .navbar .navbar-text {
    color: #ffffff;
  }
  .navbar .navbar-text a {
    color: #17a2b8;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #17a2b8; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #17a2b8;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #13243c;
    border-color: #22354f;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #17a2b8;
    background-color: #22354f;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #22354f;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #fff;
    background-color: #22354f;
  }
  .navbar .navbar-toggle {
    border-color: #22354f;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #22354f;
  }
  .navbar .navbar-toggle {
    color: #ffffff;
  }
  .navbar-toggler-icon {
      color:#000;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ffffff;
  }
  .navbar .navbar-link {
    color: #ffffff;
  }
  .navbar .navbar-link:hover {
    color: #17a2b8;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #17a2b8;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #17a2b8;
      background-color: #22354f;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #17a2b8;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #17a2b8;
      background-color: #22354f;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #17a2b8;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #17a2b8;
      background-color: #22354f;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #17a2b8;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #17a2b8;
      background-color: #22354f;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #17a2b8;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #17a2b8;
    background-color: #22354f;
  }
/**end of custom navbar**/
.homelogo
{
    position: relative;
}
.navbar-nav{
    padding-top: 10px;
}
.frontpage-header
{
    
    font-family: 'IM Fell French Canon', sans-serif;
    background: rgba(255, 255, 255, 0.75);
    margin: auto;
}
.header-caption{
    font-family: 'IM Fell French Canon', sans-serif;
}
h2{
    font-family: 'Libre Baskerville', sans-serif;
}

/*social media icons*/

#social-media-links ul{
    list-style-type:none;
}
#social-media-links li{
    display: inline;
    
    text-align: center;
}
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #267fbe;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

/* Twitter */
.fa-twitter {
    background: #267fbe;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-linkedin{
    background: #267fbe;
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

/*media carousel styles*/
.carousel-inner{
    width:100%;
    max-height: 500px !important;
  }
.carousel-caption{
    top: 60%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
}


.card-img-top{
    max-height: 300px !important;
}

/* footer */

footer{
    background-color: #071527;
    color: white;
}

/* accordion, for the docket*/
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #000;
    overflow: hidden;
  }
.tab  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
.tab  label {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #22354F;
    font-weight: bold;
    color: white;
    line-height: 3;
    cursor: pointer;
  }
  .blue label {
    background: #2980b9;
  }
  .tab-content {
    max-height: 0;
    overflow: hidden;
    background: #FFFFFF;
    word-wrap: break-word;
    transition: max-height .35s;
  }
  .blue .tab-content {
    background: #3498db;
  }
  .tab-content p {
    margin: 1em;
  }
  /* :checked */
  input:checked ~ .tab-content {
    max-height: none;
  }
  /* Icon */
  label::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    transition: all .35s;
  }
  input[type=checkbox] + label::after {
    content: "+";
  }
  
  input[type=checkbox]:checked + label::after {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  
