body {
    background-color: rgb(119, 112, 112);
    background-image: url('padded.png');
    background-blend-mode: overlay;
    font-family: 'Poppins';
}

.mdl-card {
    border-radius: 20px;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 10px 16px
}

#timeDisplay {
    border-radius: 20px;
    font-size: larger;
    margin: auto;
    width: min-content;
}