body {
    background-color: rgb(119, 112, 112);
    background-image: url('padded.png');
    background-blend-mode: overlay;
    font-family: 'Poppins';
}

.mdl-card {
    border-radius: 20px;
    background-color: #0ff0bf;
    margin: auto;
    margin-top: 5%;
}

.btn {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    padding: 10px 16px
}

#timeDisplay {
    border-radius: 20px;
    font-size: larger;
    margin: auto;
    width: min-content;
}

.card-body {
    background-color: white;
}

#clockdiv {
    margin: auto;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 5px;
    background: #00BF96;
    display: inline-block;
    margin: auto;
}

#clockdiv div>span {
    padding: 10px;
    border-radius: 5px;
    background: #00816A;
    display: inline-block;
    color: white;
    font-size: 35px;
    margin: auto;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
}