@import url(https://fonts.googleapis.com/css?family=Roboto:100);
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@media screen and (max-device-width:800px) {
    .card {
        width: 90%;
        height: 90%;
    }
    .mdl-button {
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 64px;
        width: 150px;
        height: 150px;
    }
    .mdl-textfield__input {
        font-size: 84px;
        min-height: 1em;
    }
}

@media screen and (max-device-width:768px) {
    .card {
        width: 90%;
        height: 90%;
    }
    .mdl-button {
        margin-bottom: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 12px;
        width: 70px;
        height: 70px;
    }
    .mdl-textfield__input {
        font-size: 84px;
    }
}

@media screen and (max-device-width: 414px) {
    .card {
        width: 90%;
        height: 90%;
    }
    .mdl-button {
        margin-bottom: 20px;
        margin-top: 20px;
        color: white;
        font-weight: bold;
        font-size: 48px;
        width: 150px;
        height: 150px;
    }
    .mdl-textfield__input {
        font-size: 84px;
    }
}

html {
    font-family: 'Roboto';
    font-weight: 100px;
}

body {
    margin-top: 1em;
    font-size: 1em;
    background: url(argyle.png);
    background-color: rgb(54, 133, 207);
    background-blend-mode: normal;
    flex-wrap: wrap;
    flex-direction: row;
    /*change to black*/
}

@media screen and (min-width: 1024px) {
    .card {
        width: 45%;
        height: 700px;
    }
    .mdl-button {
        width: 70px;
        height: 70px;
        font-size: 32px;
    }
    .mdl-textfield__input {
        font-size: 64px;
    }
}

.card {
    display: flex;
    margin: auto;
    box-sizing: border-box;
    background-color: black;
    border-radius: 25px;
}

.row {
    margin: auto;
}

.mdl-button {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    font-weight: bold;
}

.mdl-textfield__input {
    color: lightgray;
    min-height: 1em;
}

#op {
    background-color: orange;
}